/* VARIABLES */
:root {
    --primaryColor: #990000;
    --primaryDark: #920000;
    --colorTransparent:  #99000058;
    --secondaryColor: #008542;
    --textColor: #000000;
    --textLight: #ffffff;
    --borderColor: #ffffff;

    --boxShadow: 0px 3px 10px 0px #000000;
    --borderRadius: 18px;
    --transitionSpeed: all 0.3s ease;

    --fontFamily:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /*LOGIN*/
    --imgBackgroundLogin: url('../img/FondoLogin.jpg');

    /*NEW USER*/
    --imgBackgroundNewUser: url('../img/FondoNewUser.jpg');

    /*NEW RESERVE*/
    --imgBackgroundNewReserve: url('../img/FondoNewReserve.jpg');
    
    /*SHOW RESERVES*/
    --imgBackgroundShowReserves: url('../img/FondoShowReserves.jpg');
}

/* GENERALES */
body {
    font-family: var(--fontFamily);    
}

h1 {
    color: var(--textLight);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}

label {
    color: var(--textLight);
    font-size: 1rem;
    font-weight: normal;
}

input {
    width: 100%;
    border: none;
    background-color: #ffffff;
    font-size: 1rem;
    padding: 10px 12px;
    margin-bottom: 20px;
    transition: var(--transitionSpeed);
    border-radius: var(--borderRadius);
}

input:focus {
    outline: none;
    border-color: var(--primaryColor);
    box-shadow: 0 0 0 2px rgba(183, 42, 42, 0.2);
}

button {
    background-color: var(--primaryDark);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: var(--borderRadius);
    cursor: pointer;
    transition: var(--transitionSpeed);
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 1rem;
}

select {
    width: 100%;
    border: none;
    background-color: #ffffff;
    font-size: 1rem;
    padding: 10px 12px;
    margin-bottom: 20px;
    transition: var(--transitionSpeed);
    border-radius: var(--borderRadius);
}

/* CLASES */
.userContainer {
    width: 50%;
    height: 100%;
    padding: 30px;
    background-color: var(--colorTransparent);
    
    animation: fadeIn 0.5s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 40vh;
}

.formUser {
    width: 80%;
    max-width: 100vw;
}

.volverTemp {
    margin-top: 30px;
}


.newReserveContainer {
    width: 50vw;
    padding: 35px;
    background-color: rgba(183, 42, 42, 0.7);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.5s ease-out;
}

.formGroup {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.formGroup label {
    font-weight: bold;
    color: var(--textLight);
    margin-bottom: 5px;
}

.formGroup select,
.formGroup textarea,
.formGroup input {
    width: 100%;
    padding: 8px;
    border-radius: var(--borderRadius);
    border: 1px solid var(--secondaryColor);
    background: var(--textLight);
    color: var(--primaryColor);
}

.timeGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.timeGroup div {
    display: flex;
    flex-direction: column;
}

.buttonGroup {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}


.reservaCard {
    width: 97%;
    height: 20vh;

    padding: 15px;
    
    margin: 10px;
    

    background: #ffffff;
    color: var(--textColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    text-align: left;
}

.showReservesContainer {
    height: 60vh;
    width: 50vw;
    padding-bottom: 65px;
    padding-inline: 35px;

    
    background-color: #fda9a9;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-out;
}
#MAPIS{
    color: #000000;
}

/* ESPECIFICAS */
#seccionLogin{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;  
    justify-content: flex-end;
    background: var(--imgBackgroundLogin);
    background-size: cover;
    background-position: center; 
}

#buttonLogin ,#buttonCreateNewUser #selectNewUserType{
    width: 80%;
}

#seccionNewUser {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;  
    justify-content: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), var(--imgBackgroundNewUser);
    background-size: cover;
    background-position: center; 
}




#divShowReservesReserves {
    display: flexbox;
    justify-items: center;
    height: 40vh;
    

    
    padding: 10px;
    
    background: #ff9595;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    
    overflow-y: auto;
    scrollbar-color: var(--primaryColor) var(--textLight); 
    scrollbar-width:thin; 
}



#seccionNewReserve {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--imgBackgroundNewReserve);
    background-size: cover;
    background-position: center;
}


/* ANIMACIONES */
button:hover {
    transform: translateY(-5px);
    box-shadow: var(--boxShadow)
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*TEMPORAL*/
#seccionTemporal {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--imgBackgroundShowReserves);
    background-size: cover;
    background-position: center;
}

.temporalContainer {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    animation: fadeIn 0.5s ease-out;
}

.temporalContainer button {
    width: 250px;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--textLight);
    background: linear-gradient(135deg, var(--primaryColor), var(--secondaryColor));
    border: none;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    cursor: pointer;
    transition: var(--transitionSpeed);
}

.temporalContainer button:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.3);
}

.laboratoryCard {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #ffffff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.laboratoryCard img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-bottom: 2px solid #ccc;
}

.laboratoryCard h3 {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

/*LABORATORIOS*/
#seccionShowReserves , #seccionShowLaboratory{
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--imgBackgroundShowReserves);
    background-size: cover;
    background-position: center; 
}


#divShowLaboratories {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    
    background: var(--textLight);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    
    overflow-y: auto;
    scrollbar-color: var(--primaryColor) var(--textLight); 
    scrollbar-width:thin; 

    padding: 20px;
}


.showLaboratoriesContainer{
    height: 70vh;
    width: 78vw;
    padding-bottom: 65px;
    padding-inline: 35px;

    
    background-color: rgba(183, 42, 42, 0.027);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-out;
}


.lab-card {
    background-color: #5d239e;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.lab-img {
    width: 100%; 
    height: 15px; 
    object-fit: cover;
    border-radius: 20px;
}

.lab-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.laboratoryCard {
    background: #04488b;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    transition: transform 0.2s;
}

.laboratoryCard:hover {
    transform: scale(1.05);
}

