:root{
    --backGround: url("../../assets/img/User.jpg");
    --ColorFondo:  #9900007e;
}
.divUserBackground {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--backGround);
    background-size: cover;
    background-position: center;
}

.divUserPrincipal {
    height: 100vh;
    width: 40vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background:var(--ColorFondo);
    backdrop-filter: blur(4px);
    animation: slideInRight 0.8s ease-out;
}

.divUserForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divInputsUserForm {
    display: flex;
    flex-direction: column;
}

.divUserBotones {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

button {
    width: 40%;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    background-color: #990000; /* Color principal */
    border: none;
    border-radius: 2px;
    padding: 12px 0;
    margin: 2px;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

input:focus, select:focus {
    outline: none;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.45);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.45);
}