@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.form-section {
    width: 800px;
    height: 100vh;
    background: rgba(133, 27, 46, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    position: fixed;
    right: 0;
    top: 0;
    color: #ffffff;
}
.divInputsUserForm {
    margin-bottom: 1rem;
}
.divInputsUserForm input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #ffffff;
    justify-content: center;
    color: black;
}
.divInputsUserForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    justify-content: center;
    color:white;
}
.divUserBotones {
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
}

.logo {
    display: block;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200vh;
}

h2 {
    margin: 0;
    font-size: 1.5rem;
}

form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 0.75rem;
    background: rgba(133, 27, 46, 0.9);
    color: #ffffff;
    border: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/edificio-h-nocturna.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; /* El fondo debe estar detrás de todo */
}


