@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --ColorRojo: #800020;
    --ColorFondo: #800020a8;

    --ColorTextoClaro: #ffffff;
    --ColorTextoOscuro: #000000;

    --Background: url("../img/edificio-h-nocturna.jpg");
}


.container {
    display: flex;
    
    width: 100vw;
    height: 100vh;

    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;

    background: var(--Background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    height: 20vh;
}

.formSection {
    display: flex;

    height: 100vh;
    width: 40vw;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--ColorFondo);
    backdrop-filter: blur(3px);

    color: var(--ColorTextoClaro);
}

.divInputsUserForm {
    display: flex;
    

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-block: 3vh;
    font-weight: bold;
}

.divInputsUserForm input,select{
    width: 35vw;

    
    padding: 10px 12px;
    
    border: none;
    position: relative;

    color: var(--ColorTextoOscuro);

    font-weight: bold;
    
}

.divUserBotones {
    display: flex;
    
    flex-direction: row;
    align-items:center;
    justify-content: space-between;

}

.divUserBotones button{
    width: 40%;

    padding: 12px 0px;

    text-align: center;
    justify-content: center;
    
    
    background-color: var(--ColorRojo) ;
    color: var(--ColorTextoClaro);
    border: none;
}
